.viewer-container {
  background-color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.viewer-container .button-container {
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 10px 10px 0;
  height: 100%;
  max-height: 40px;
}

.viewer-container .button-container > * {
  border: none;
  border-radius: 4px;
  background-color: #35435a;
  color: white;
}

.viewer-container .button-container select {
  padding-left: 10px;
  padding-right: 28px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.viewer-container .button-container button {
  cursor: pointer;
  margin: 0 10px;
  padding: 12px 16px;
}

.viewer-container .button-container button:disabled {
  cursor: not-allowed;
  background-color: #636363;
}

#reset-button {
  margin: 0;
  background-color: #912828;
  position: absolute;
  right: 0;
  top: 0;
}

#maximize-button {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 39px;
  padding: 10px;
}

#maximize-button img {
  width: 100%;
}
