#viewer-with-links {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#enable-shuffling {
  border-radius: 8px;
  color: white;
  padding: 8px;
  font-size: 1.2em;
  appearance: none;
  border: none;
  cursor: pointer;
  margin-bottom: 1.5em;
}

#enable-shuffling.enabled {
  background-color: #35435a;
}

#enable-shuffling.disabled {
  background-color: #636363;
}

#enable-shuffling-container label {
  padding-left: 8px;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-input-container h1 {
  color: white;
  margin-bottom: 10px;
}

/* https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
.file-input-container input {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
}

.file-input-container label {
  background-color: rgb(255, 92, 148);
  border-radius: 8px;
  color: white;
  padding: 20px;
  font-size: 1.5em;
}

.file-input-container label:hover {
  cursor: pointer;
}

.file-input-container input:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
