div.img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 1;
  	transition: opacity 2s linear;
}

.iframe-loading {
	background: url(./loading.gif) center center no-repeat;
	display:flex;
	
}

.iframe-loading iframe {
	flex-grow: 1;
}
