div.img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 1;
  	transition: opacity 2s linear;
}

img.loading {
	background: url(./static/loading.gif) center center no-repeat;
}

img.error {
	background: url(./static/img_error.png) center center no-repeat;
}

.iframe-loading {
	background: url(./static/loading.gif) center center no-repeat;
	display:flex;
}
