.viewer-container {
	background-color: black;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	color: #fff;
}

.item-container {
	width: 100%;
	height: calc(100% - 70px);
}

.item-container *{
	width: 100%;
	height: 100%;
}

.button-container button:hover {
	cursor: pointer;
}

.dropdown-menu.show  {
	background-color:#fff;
}

.dropdown-selector > button {
	color: white;
	background-color: #6c757d ;
}

.dropdown-selector button {
	color: black;
	background-color: white;
}

.button-container {
	height: 62px;
	width: 100vw;
	justify-content: center;
	display: inline-flex;
	position: relative;
	box-sizing: border-box;
}

.dropdown-selector > button,
.button-container > button {
	/* width: 100%; */
	background-color: #6c757d;
	border: none;
	border-radius: 5px !important;
	color: white;
	margin: 7px 12px !important;
}

@media  only screen and (max-width: 600px) {
	.item-container {
		height: 100%
	}

    .button-container {
		position: absolute !important;
		display: block !important;
		left: 0px;
		top: 33%;
		transform: translateY(-50%);
		width: 3.5rem;
	}
	.dropdown-selector > button,
	.button-container > button {
		background-color: rgba(0,0,0,0);
		border: none;
		display: block;
		width: 100%;
	}
}